.top {
  margin-left:10px;
  width: 40px;
  height: 40px;
}
#ok {
  float: right;
}


h1 {
  font-family: 'Jolly Lodger';
  font-size:50px;
  display:inline-block;
  vertical-align:top;
  width:100%;
  text-align:center;
}

.nom {
  font-size:25px;
  text-align:left;

}


.container {
  display:table;
  position: static;
  margin-right: auto;
  margin-left: auto;
    
}

.col{
  margin-top:30px;
  width:500;
  display:table-cell;
  word-wrap:break-word;
  float: left;
}


#left {
	margin-right:100px;
}


.img {
  width: 34em;
  height: 40em;
  /*filter:contrast(200%) brightness(200%) blur(1px) saturate(8);*/
}

.img:hover{
  filter:contrast(200%) brightness(200%) blur(2px) saturate(8) invert(100%);
  animation: shake 0.1s; 
  animation-iteration-count: infinite;
  cursor: url(emoji2.png),auto;
}

body {
  background-color: black;
  color: white;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


#all_characters{
  /*display: table-cell; */ 
}

.character{
  display: inline-block;
  margin-left: 30px;
  width:770px;
}

.character_text{
  display: inline-block;
  width: 350px;
  margin-left: 30px;
  vertical-align: top;
}

.img_resume {
  width: 23em;
  height: 27em;
  vertical-align: top;
}